@import "../../CSS/global_vars.scss";

.Site-content{
    display: block;
    padding: 1.5rem 4.5rem;
    flex-grow: 1;
}

@media (max-width: $tablet_size) {
    .Site-content{
        padding: 1rem 2rem;
    }
}

@media (max-width: $mobile_size) {
    .Site-content{
        padding: 1.5rem 1rem;
    }
}