@import "../../CSS/global_vars.scss";

.Toolbar {
    height: 5rem;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    box-sizing: border-box;
    box-shadow: $themeboxshadow;
    z-index: 90;
}

/* 
.Toolbar nav {
    height: 100%;
    display: grid;
} */

.buttonBold{
    border: none;
    background: none;
    font-size: $detailpage_font_size;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    outline: none;
    font-weight: $small_font_weight;
    transition: $theme_transition_effect;
    &:hover{
      transform: $theme_transition_effect_transform;
    }
    .fa-moon{
        margin-right: 0.5rem;
    }
}

.Logo {
    font-weight: $large_font_weight;
    padding: 10px;
    box-sizing: border-box;
    font-size: $detailpage_font_size;
}

.Logo a{
    text-decoration: none;
    color: inherit;
}

@media (max-width: $tablet_size) {
    .Toolbar {
        padding: 0 0.90rem;
    }
}

@media (max-width: $mobile_size) {
    .buttonBold{
        font-size: $homepage_font_size;
        font-weight: $small_font_weight;
    }
    .Toolbar {
        padding: 0 1rem;
    }
    .Logo {
        padding: 0rem;
        font-size: $homepage_font_size;
    }
}