@import "../CSS/global_vars.scss";


.darktheme{
    background-color: $dark_background;
    color: $darktext_lightelement;
}

.darkthemeEle{
    background-color: $dark_element;
    color: $darktext_lightelement;
    *{
        color:$darktext_lightelement;
    }
    input::placeholder{
        color: $darktext_lightelement;
    }
    select {
        color: $darktext_lightelement !important;
        background-color: $dark_element;
    }
    button{
        color: $darktext_lightelement !important;
    }
}