@import "../CSS/global_vars.scss";


.darktheme{
    background-color: $dark_background;
    color: $darktext_lightelement;
}

.darkthemeEle{
    background-color: $dark_element;
    *{
        color: white;
    }
}