@import "../../CSS/global_vars.scss";

footer{
    margin-top: auto;
}

.footer {
    box-shadow: $themeboxfootershadow;
    padding : 1rem;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.footer span:first-child {
    font-family: 'Times New Roman', Times, serif;  
}

.heartEmoji{
    color: #dc3545;
    content: "\u2764";
}

.linkStyle{
    text-decoration: none;
}