
@import "./CSS/global_vars.scss";

html {
  height: 100%;
  width: 100%;
}

*{
  box-sizing: border-box;
  padding: 0;
  font-family: $app_font_family;
}

body {
  margin: 0;
 /*  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  box-sizing: border-box;
  padding: 0;
  height: 100%;
}

#root{
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
